@charset "UTF-8";

/* (주)한신정보기술 ○○○ - 201x.xx */

/* template 가이드용 스타일 */
.prettyprint{padding:20px 0; white-space:pre-wrap;}
ol.linenums{padding-left:40px;}
.template pre {margin:10px 0; padding:10px 20px 0; border:1px solid #e9e9e9; background:#fafafa; font-size:13px;}
.template .tab_item {margin:15px 0 20px}
.template .tab_item {border-left:1px solid #d9d9d9;}
.template .tab_item li {float:left; display:inline; width:15%; border-top:1px solid #d9d9d9; background:#eee}
.template .tab_item li.active {border-top:solid 1px #d9d9d9; background:#fff}
.template .tab_item li a {display:block; padding:0; line-height:46px; font-size:15px; text-align:center; border-right:1px solid #d9d9d9; text-decoration:none; white-space:nowrap}

.template .tab_item li.active a, .tab_obj li a:hover {}
.tab_obj {display:none; position:relative; padding:0;}

/* web */
@media all and (max-width:1200px){

}

/* tablet */
@media all and (max-width:1000px){

}

/* mobile */
@media all and (max-width:640px){

}


